# 需要跟踪的文件
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.dvi
*.xdv
main.pdf
__pycache__/
*.pyc
.DS_Store
Thumbs.db
